.container {
    width: 285px;
    height: 400px;
    position: relative;
    transition: box-shadow 0.4s;
    transition-delay: 0s, 0s;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 15px 1px;
}

.overlay {
    width: 285px;
    height: 400px;
    position: absolute;
    background: linear-gradient(110deg, transparent 40%, rgba(255, 219, 112, 0.61) 45%, rgba(255, 93, 66, 0.651) 50%, transparent 54%);
    background-size: 150% 150%;
    background-position: 100%;
    filter: brightness(1.2) opacity(0.8);
    mix-blend-mode: color-dodge;
    z-index: 2;
}

.card {
    width: 285px;
    height: 400px;
    background-image: url(card.jpg);
    background-size: cover;
    transform: translate3d(0px, 0px, 0.01px);
}